body {
  font-size: 14px;
  color: #222222;
}
* {
  box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.font16 {
  font-size: 16px;
}

.font18 {
  font-size: 18px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb40 {
  margin-bottom: 40px;
}

.w400 {
  width: 400px;
}

.form-box {
  margin: 50px 0 0 50px;
  width: 600px;
}